.title {
  margin: 0;
}

.movie-detail-card {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, #000000, transparent);
}