.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 4vh;
  cursor: pointer;
  max-width: 15vw;
}

.image:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4)
}

.image {
  height: 350px;
  transition: transform 0.3s box-shadow 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h3 {
  margin: 0;
}