.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 4vh;
  cursor: pointer;
  max-width: 15vw;
  position: relative;
  overflow: hidden;
}

.card:hover .image {
  transform: scale(1.1);
}

.card:hover *:not(.image) {
  transform: scale(1.1);
}

.image {
  height: 350px;
}

h3 {
  margin: 0;
  display: flex;
  justify-content: center;
}

.star{
  color: aliceblue;
  height: 23px;
}