.popcorn {
  padding: 0%;
  height: 30px;
}

.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.login {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 10px;
  right: 2vw;
  color: white;
  align-items: center;
}